.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 1.5rem;
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    font-size: large;
}
.header a:visited {
    color: black;
}
.header a {
    color: black;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    .header {
        height: auto;
        padding: 1rem 0;
    }
}
