.createJobButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.createJobButton:hover {
    background-color: #333;
}
@media (max-width: 600px) {
    .dashboard {
        padding: 10px;
        margin-top: 8rem;
    }
}
