.dashboard {
    padding: 20px;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: calc(100vh - 6rem);
    align-items: center;
}
.create {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.createJobButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-self: center;
}
.createJobButton:hover {
    background-color: #333;
}
.jobForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;

    width: 20rem;
}
.jobForm label {
    font-weight: bold;
}
.jobForm input,
.jobForm textarea,
.jobForm select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
}
.jobForm button {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-self: center;
}
.jobForm button:hover {
    background-color: #333;
}
.checkboxField {
    margin-right: 0.5rem;
}
@media (max-width: 600px) {
    .dashboard {
        padding: 10px;
        margin-top: 8rem;
    }
}
