body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.loginForm {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    margin: auto;
}
.loginForm input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

.loginForm .error {
    color: red;
    margin-bottom: 10px;
}
.loginButton {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.loginButton:hover {
    background-color: #333333;
}

@media (max-width: 768px) {
    .loginForm {
        width: 80%;
        padding: 0 10px;
        box-sizing: border-box;
    }
}
