.jobs {
    margin-top: 4rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 2rem;
}
.searchSection {
    grid-column: span 2;
    position: sticky;
    top: 1rem;
    background: white;

    padding: 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.searchSection h2 {
    margin-bottom: 1rem;
}
.searchSection input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1rem;
}
.searchSection button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
    margin: 0 auto;
}
.searchSection button:hover {
    background-color: #333;
}
.jobList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-column: 1/3;
    gap: 2rem;
    padding: 0 1rem;
}

.jobList div {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.viewDetailsButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.viewDetailsButton:hover {
    background-color: #333;
}
@media (max-width: 640px) {
    .searchBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;
        padding: 1rem;
    }
}
@media (max-width: 768px) {
    .jobList {
        grid-template-columns: 1fr;
    }
}
