body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.signupTitle {
    margin-bottom: 20px;
    font-size: x-large;
}
.signupForm {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    margin: auto;
}
.signupForm input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}
.signupForm select {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}
.signupButton {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.signupButton:hover {
    background-color: #333333;
}
.loginLink {
    display: block;
    margin-top: 15px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-size: large;
}
@media (max-width: 768px) {
    .signupForm {
        width: 80%;
        padding: 0 10px;
        box-sizing: border-box;
    }
}
